services:
  redis:
    container_name: redis
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

  django-backend:
    container_name: django-backend
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: uv run manage.py runserver 0.0.0.0:8000

  celery-worker:
    container_name: celery-worker
    build:
      context: .
      dockerfile: dockerfile
    depends_on:
      redis:
        condition: service_healthy
      django-backend:
        condition: service_started
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=settings
      - CELERY_BROKER_URL=redis://redis:6379/0
      - CELERY_RESULT_BACKEND=redis://redis:6379/0
    command: uv run celery -A main.celery worker --loglevel=info --concurrency=5
    restart: unless-stopped
volumes:
  redis_data:
